.row
  .col-sm-6
    .well.bs-component
      .form-horizontal
        = form_for @mark do |f|
          -set_params(@category_id, @product_type_id, nil)
          - if @mark.errors.any?
            #error_explanation
              .alert.alert-dismissable.alert-danger
                %h4= "Se ha encontrado #{pluralize(@mark.errors.count, "error")}"
                = error_messages_for @mark
          .form-group
            = f.label :name, :class=>'col-sm-2 control-label'
            .col-sm-10
              = f.text_field :name, :class=>'form-control'

          .form-group
            = f.label :hidden, :class=>'col-sm-2 control-label'
            .col-sm-10
              = f.check_box :hidden

          .form-group
            = f.label :image
            .col-sm-10
              = f.file_field :image

          .form-group
            .col-sm-2.control-label
              %b
                = t('mark.product_type_asociated')
            .col-sm-10
              .panel.panel-default
                .panel-body
                  - Category.all.order(:name).each do |cat|
                    .btn-xs.btn-success
                      =cat.name
                    %br
                    - cat.product_type.order(:name).each do |pt|
                      -if !@product_type_associated.nil?
                        =check_box_tag "marks[product_types][]", [pt.id, cat.id], checked(cat.id,pt.id,@product_type_associated)
                      -else
                        =check_box_tag "marks[product_types][]", [pt.id, cat.id], false
                      =pt.name
                      %br
                    %br


          .form-group
            .col-sm-10.col-sm-offset-2
              = f.submit 'Guardar', :class=>'btn btn-primary foo'

  .col-sm-6
    =link_to 'Ver productos asociados', products_path(:category_id => @category_id,:product_type_id => @product_type_id,:mark_id => @mark.id), :class=>'btn btn-success'
