.container
  .bs-docs-section
    .row
      .col-lg-12
        .page-header
          %h3 Información de la marca

  .col-lg-6
    .well
      .bs-component
        .panel.panel-primary
          .panel-heading
            = t('mark.data')
          %p
            %b= t('mark.name')+': '
            = @mark.name
          %p
            = image_tag @mark.image.url(:medium)

        .panel.panel-primary
          .panel-heading
            = t('mark.product_type_asociated')

          .panel-body
            -ProductType.all.each do |cat|
              -@product_type_associated.each do |pt|
                -if (cat.id == pt.id)
                  .col-lg-4
                    .well.well-sm
                      = cat.name

  .col-lg-6
    .well
      .bs-component
        %p
          =link_to 'Modificar datos', edit_mark_path(@mark,:product_type_id=>@product_type_id), :class=>'btn btn-primary'
        %p
          =link_to 'Ver productos asociadas', products_path(:mark_id => @mark.id), :class=>'btn btn-success'

  .col-lg-12
    = link_to 'Volver a la lista de marcas', marks_path(:product_type_id=>@product_type_id), :class=>'btn btn-danger'

