.bs-docs-section.clearfix
  .row
    .col-sm-12
      .bs-component
        .navbar.navbar-inverse
          .navbar-collapse.collapse.navbar-inverse-collapse
            %ul.nav.navbar-nav
              %li
                = link_to 'Quienes somos', who_are_path

              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Nuestras marcas
                  %b.caret
                %ul.dropdown-menu
                  -Mark.all.where('hidden is null or hidden =0').order(:priority).in_groups_of(4).each do |mark_group|
                    %li
                      -mark_group.each do |mark|
                        -if !mark.nil?
                          = link_to productos_path(:mark_id => mark.id) do
                            =image_tag mark.image.url(:original)
                    %li.divider
                  
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Productos
                  %b.caret
                
                %ul.dropdown-menu
                  -Category.all.order(:name).in_groups_of(3).each do |cat_group|
                    %li
                      .row
                        -cat_group.each do |cat|
                          -if !cat.nil?
                            .col-sm-4
                              .panel.panel-success
                                .panel-heading
                                  %h3.panel-title
                                    = link_to cat.name, productos_path(:category_id => cat.id)
                                .panel-body
                                  %ul
                                    -cat.product_type.order(:name).each do |pt|
                                      %li
                                        = link_to pt.name, productos_path(:category_id=>cat.id, :product_type_id=>pt.id)

              %li
                = link_to 'Ofertas', inicio_path
              %li
                = link_to 'Contacto', contacto_path
