.container
  =render 'header_home'
    
  

  .well
    .bs-component
      .row
        .col-sm-12
          - @promotions.in_groups_of(3).each do |group_promo|
            .row
              -group_promo.each do |promo|
                .col-sm-4
                  -if !promo.nil? && promo.style == 1
                    .panel.panel-success
                      .panel-heading
                        %h3.panel-title

                      .panel-body
                        
                        %h3
                          = link_to promo.description, show_promotion_path(:id => promo.id)
                        .row
                          .col-sm-8
                            .backgroun_promotion_common
                              =promo.text
                          .col-sm-2
                            =image_tag 'etiqueta_promo.png'
                        %h5= print_dates promo
                          

                  -elsif !promo.nil? && promo.style == 2
                    .panel.panel-danger
                      .panel-heading
                        %h3.panel-title
                    
                      .panel-body
                        %center
                          .text_promotion
                            = promo.text
                            = image_tag 'porcentage.png'
                        %h3
                          = link_to promo.description, show_promotion_path(:id => promo.id)

                        %h5= print_dates promo

                  -elsif !promo.nil? && promo.style == 3
                    .panel.panel-info
                      .panel-heading
                        
                      .panel-body
                        %center
                          =image_tag 'promociones.png'
                        .backgroun_promotion_common
                          =promo.text
                        .row
                          .col-sm-12
                            %h3
                              =link_to promo.description, show_promotion_path(:id => promo.id)
                        
                        %h5= print_dates promo
  = render 'pe'