.row
  .col-sm-6
    .well.bs-component
      .form-horizontal
        = form_for @promotion do |f|
          - if @promotion.errors.any?
            #error_explanation
              .alert.alert-dismissable.alert-danger
                %h4= "Se ha encontrado #{pluralize(@promotion.errors.count, "error")}"
                = error_messages_for @promotion
          .form-group
            = f.label :description, :class=>'col-sm-3 control-label'
            .col-sm-9
              = f.text_area :description, :class=>'form-control', :rows=>'7'

          .form-group
            = f.label :date_start, :class=>'col-sm-3 control-label'
            .col-sm-9
              .input-append.date.datepicker{"data-date" => "12-02-2012", "data-date-format" => "dd-mm-yyyy"}
                = f.text_field :date_start, 'data-behaviour' => 'datepicker', :value=>(@date_start.nil?)?'':@date_start.strftime('%d-%m-%Y'),:size => "16"
                %span.add-on
                  %i.icon-th

          .form-group
            = f.label :date_end, :class=>'col-sm-3 control-label'
            .col-sm-9
              .input-append.date.datepicker{"data-date" => "12-02-2012", "data-date-format" => "dd-mm-yyyy"}
                = f.text_field :date_end, 'data-behaviour' => 'datepicker', :value=>(@date_end.nil?)?'':@date_end.strftime('%d-%m-%Y'),:size => "16"
                %span.add-on
                  %i.icon-th

          .form-group
            .col-sm-10.col-sm-offset-2
              = f.submit 'Guardar', :class=>'btn btn-primary foo'
