.row
  .col-sm-12
    .well.bs-component
      .form-horizontal
        = form_for @promotion do |f|
          - if @promotion.errors.any?
            #error_explanation
              .alert.alert-dismissable.alert-danger
                %h4= "Se ha encontrado #{pluralize(@promotion.errors.count, "error")}"
                = error_messages_for @promotion
          .form-group
            = f.label :description, :class=>'col-sm-3 control-label'
            .col-sm-9
              = f.text_area :description, :class=>'form-control', :rows=>'7'

          .form-group
            = f.label :date_start, :class=>'col-sm-3 control-label'
            .col-sm-9
              .input-append.date.datepicker{"data-date" => "12-02-2012", "data-date-format" => "dd-mm-yyyy"}
                = f.text_field :date_start, 'data-behaviour' => 'datepicker', :value=>(@date_start.nil?)?'':@date_start.strftime('%d-%m-%Y'),:size => "16"
                %span.add-on
                  %i.icon-th

          .form-group
            = f.label :date_end, :class=>'col-sm-3 control-label'
            .col-sm-9
              .col-sm-6
                
                .input-append.date.datepicker{"data-date" => "12-02-2012", "data-date-format" => "dd-mm-yyyy"}
                  = f.text_field :date_end, 'data-behaviour' => 'datepicker', :value=>(@date_end.nil?)?'':@date_end.strftime('%d-%m-%Y'),:size => "16"
                  %span.add-on
                    %i.icon-th
              .col-sm-6
                = f.radio_button(:end_stocks, 1)
                = f.label :end_stocks, :class=>'col-sm-3 control-label'                


          .form-group
            = f.label :text, :class=>'col-sm-3 control-label'
            .col-sm-9
              = f.text_field :text, :class=>'form-control', :rows=>'7'

          .form-group
            = f.label :catalog, :class=>'col-sm-3 control-label'
            .col-sm-9
              = f.text_field :catalog, :class=>'form-control', :rows=>'7'

          .col-sm-12
            .col-sm-4
              .panel.panel-success
                .panel-heading
                  %h3.panel-title
                    = f.radio_button(:style, 1)
                .panel-body
                  %h3
                    Descripción de la promoción
                  .row
                    %center
                      = image_tag 'oferta.png'


            .col-sm-4
              .panel.panel-danger
                .panel-heading
                  %h3.panel-title
                    = f.radio_button(:style, 2)
                .panel-body
                  %center
                    .text_promotion
                      45
                      = image_tag 'porcentage.png'
                  %h3
                    Descripción de la promoción

            .col-sm-4
              .panel.panel-info
                .panel-heading
                  %h3.panel-title
                    = f.radio_button(:style, 3)
                .panel-body
                  %h3
                    Descripción de la promoción
                  .row.align_right
                    = image_tag 'etiqueta_promocion.jpg'


          .form-group
            .col-sm-10.col-sm-offset-2
              = f.submit 'Guardar', :class=>'btn btn-primary foo'
